/* Progress bar styles for DAO Settings */
.progressBar {
  width: 100%;
  background-color: #e5e7eb;
  border-radius: 9999px;
  height: 0.5rem;
  margin-top: 0.5rem;
  overflow: hidden;
}

.progressFill {
  background-color: #14b8a6;
  height: 0.5rem;
  border-radius: 9999px;
  transition: width 0.3s ease-in-out;
  width: 0%;
}

.progressFill[data-percentage="0"] { width: 0%; }
.progressFill[data-percentage="1"] { width: 1%; }
.progressFill[data-percentage="2"] { width: 2%; }
.progressFill[data-percentage="3"] { width: 3%; }
.progressFill[data-percentage="4"] { width: 4%; }
.progressFill[data-percentage="5"] { width: 5%; }
.progressFill[data-percentage="6"] { width: 6%; }
.progressFill[data-percentage="7"] { width: 7%; }
.progressFill[data-percentage="8"] { width: 8%; }
.progressFill[data-percentage="9"] { width: 9%; }
.progressFill[data-percentage="10"] { width: 10%; }
.progressFill[data-percentage="11"] { width: 11%; }
.progressFill[data-percentage="12"] { width: 12%; }
.progressFill[data-percentage="13"] { width: 13%; }
.progressFill[data-percentage="14"] { width: 14%; }
.progressFill[data-percentage="15"] { width: 15%; }
.progressFill[data-percentage="16"] { width: 16%; }
.progressFill[data-percentage="17"] { width: 17%; }
.progressFill[data-percentage="18"] { width: 18%; }
.progressFill[data-percentage="19"] { width: 19%; }
.progressFill[data-percentage="20"] { width: 20%; }
.progressFill[data-percentage="21"] { width: 21%; }
.progressFill[data-percentage="22"] { width: 22%; }
.progressFill[data-percentage="23"] { width: 23%; }
.progressFill[data-percentage="24"] { width: 24%; }
.progressFill[data-percentage="25"] { width: 25%; }
.progressFill[data-percentage="26"] { width: 26%; }
.progressFill[data-percentage="27"] { width: 27%; }
.progressFill[data-percentage="28"] { width: 28%; }
.progressFill[data-percentage="29"] { width: 29%; }
.progressFill[data-percentage="30"] { width: 30%; }
.progressFill[data-percentage="31"] { width: 31%; }
.progressFill[data-percentage="32"] { width: 32%; }
.progressFill[data-percentage="33"] { width: 33%; }
.progressFill[data-percentage="34"] { width: 34%; }
.progressFill[data-percentage="35"] { width: 35%; }
.progressFill[data-percentage="36"] { width: 36%; }
.progressFill[data-percentage="37"] { width: 37%; }
.progressFill[data-percentage="38"] { width: 38%; }
.progressFill[data-percentage="39"] { width: 39%; }
.progressFill[data-percentage="40"] { width: 40%; }
.progressFill[data-percentage="41"] { width: 41%; }
.progressFill[data-percentage="42"] { width: 42%; }
.progressFill[data-percentage="43"] { width: 43%; }
.progressFill[data-percentage="44"] { width: 44%; }
.progressFill[data-percentage="45"] { width: 45%; }
.progressFill[data-percentage="46"] { width: 46%; }
.progressFill[data-percentage="47"] { width: 47%; }
.progressFill[data-percentage="48"] { width: 48%; }
.progressFill[data-percentage="49"] { width: 49%; }
.progressFill[data-percentage="50"] { width: 50%; }
.progressFill[data-percentage="51"] { width: 51%; }
.progressFill[data-percentage="52"] { width: 52%; }
.progressFill[data-percentage="53"] { width: 53%; }
.progressFill[data-percentage="54"] { width: 54%; }
.progressFill[data-percentage="55"] { width: 55%; }
.progressFill[data-percentage="56"] { width: 56%; }
.progressFill[data-percentage="57"] { width: 57%; }
.progressFill[data-percentage="58"] { width: 58%; }
.progressFill[data-percentage="59"] { width: 59%; }
.progressFill[data-percentage="60"] { width: 60%; }
.progressFill[data-percentage="61"] { width: 61%; }
.progressFill[data-percentage="62"] { width: 62%; }
.progressFill[data-percentage="63"] { width: 63%; }
.progressFill[data-percentage="64"] { width: 64%; }
.progressFill[data-percentage="65"] { width: 65%; }
.progressFill[data-percentage="66"] { width: 66%; }
.progressFill[data-percentage="67"] { width: 67%; }
.progressFill[data-percentage="68"] { width: 68%; }
.progressFill[data-percentage="69"] { width: 69%; }
.progressFill[data-percentage="70"] { width: 70%; }
.progressFill[data-percentage="71"] { width: 71%; }
.progressFill[data-percentage="72"] { width: 72%; }
.progressFill[data-percentage="73"] { width: 73%; }
.progressFill[data-percentage="74"] { width: 74%; }
.progressFill[data-percentage="75"] { width: 75%; }
.progressFill[data-percentage="76"] { width: 76%; }
.progressFill[data-percentage="77"] { width: 77%; }
.progressFill[data-percentage="78"] { width: 78%; }
.progressFill[data-percentage="79"] { width: 79%; }
.progressFill[data-percentage="80"] { width: 80%; }
.progressFill[data-percentage="81"] { width: 81%; }
.progressFill[data-percentage="82"] { width: 82%; }
.progressFill[data-percentage="83"] { width: 83%; }
.progressFill[data-percentage="84"] { width: 84%; }
.progressFill[data-percentage="85"] { width: 85%; }
.progressFill[data-percentage="86"] { width: 86%; }
.progressFill[data-percentage="87"] { width: 87%; }
.progressFill[data-percentage="88"] { width: 88%; }
.progressFill[data-percentage="89"] { width: 89%; }
.progressFill[data-percentage="90"] { width: 90%; }
.progressFill[data-percentage="91"] { width: 91%; }
.progressFill[data-percentage="92"] { width: 92%; }
.progressFill[data-percentage="93"] { width: 93%; }
.progressFill[data-percentage="94"] { width: 94%; }
.progressFill[data-percentage="95"] { width: 95%; }
.progressFill[data-percentage="96"] { width: 96%; }
.progressFill[data-percentage="97"] { width: 97%; }
.progressFill[data-percentage="98"] { width: 98%; }
.progressFill[data-percentage="99"] { width: 99%; }
.progressFill[data-percentage="100"] { width: 100%; }
