node_modules
.DS_Store
.env
artifacts
cache
dist/

.env
mtaa-dao-whitepaper/target
mtaa-dao-whitepaper/.env

# Added by cargo

/target
**/*.rs.bk
.env
.next
artifacts
.ENV.PHASES
.ENV.PRODUCTION.EXAMPLE
.ENV.EXAMPLE
.ENV.LOCAL
.env.example 
.env
.replit