/* Spinner Animation Speeds */
.spinner-slow {
  animation: spin 1s linear infinite;
}

.spinner-normal {
  animation: spin 0.75s linear infinite;
}

.spinner-fast {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
